.linksref{
    float:right;
}
.linkRef{
    display: inline-block;
    padding-right: 15px;
    padding-top:10px;
    font-family: arial,sans-serif;
    font-size:13px;
}
.alink{
    text-decoration: none;
    color:black;
}

.alink:hover{
    text-decoration:underline;
}
