.linksref{
    float:right;
}
.linkRef{
    display: inline-block;
    padding-right: 15px;
    padding-top:10px;
    font-family: arial,sans-serif;
    font-size:13px;
}
.alink{
    text-decoration: none;
    color:black;
}

.alink:hover{
    text-decoration:underline;
}

.signIn{
    border: 1px solid #4285f4;
    padding: 7px 12px;
    border-radius: 2px;
    text-decoration: none;
    background: #4285f4;
    color: #fff;
}
.nav{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#container{
    margin-top: 150px;    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.inputLabel{
    background-color: transparent;
    color:rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    padding-left:15px;
    width:582px;
    margin: 30px;
    border:1px solid #dfe1e5;
    border-radius: 24px;
    background: url(../images/googlemic.png) no-repeat scroll 550px 11px;
    background-size: 24px 24px;
    height:44px;
    font:16px arial,sans-serif;
    line-height: 34px;
    
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;   
    padding-top:10px;
}

.SearchButtons{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.inputButton{
    height: 36px;
    line-height: 27px;
    margin:5px 10px;
    color: #5F6368;
    font-size: 14px;
    background: #f1f1f1;
    border-radius:4px;
    border: 1px solid #f2f2f2;
}

.inputButton:hover{
    color:black;
}

#footer{
    margin: 80px 0 0 0;
    justify-content: flex-start;
    background-color: #f2f2f2;
    padding: 10px;
    border-top: 1px solid #e4e4e4;
    padding-left: 20px;
}

.footerNavBar {
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    border-top: 1px solid #e4e4e4;
    justify-content: space-between;
    padding-left: 20px;
  }
  
  .ftnavitem {
    color: #5f6368;
    line-height: 28px;
  }
  .navitem {
    margin-top: 10px;
    margin-right: 4px;
    line-height: 28px;
  }
  
  .navitem, .navitem2 {
      color: #000000de;
      font-family: arial;
      text-decoration: none;
      font-size: 13px;
      margin-right: 20px;
  }

